/*
#############
    RESET
#############
*/
/* Global defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  outline-color: transparent;
  color: inherit;
  font: inherit;
}

/* Core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Media defaults */
img, picture, video, iframe, figure {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Anchor defaults*/
a {
  display: block;
}

p a {
  display: inline;
}

/* List elements defaults */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Tables defaults */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font Defaults */
h1, h2, h3, h4, h5, h6, p, span, strong, blockquote, i, b, u, em {
  font-size: 1em;
}

/* Reduced Motion Settings */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*



#############
GLOBAL STYLES
#############
*/
:root {
  /*

  COLOR VARIABLES 
  */
  /* primary */
  --clr-primary-100: hsl(225, 100%, 94%);
  --clr-primary-400: hsl(245, 75%, 52%);
  /* secondary */
  --clr-secondary-400: hsl(245, 83%, 68%);
  /* neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(225, 100%, 98%);
  --clr-neutral-300: hsl(245, 95%, 92%);
  --clr-neutral-400: hsl(224, 23%, 55%);
  --clr-neutral-700: hsl(223, 47%, 23%);
  /*

  FONT VARIABLES 
  */
  /* Font families */
  --ff-base: "Red Hat Display", sans-serif;
  /* Font sizes */
  --fs-200: 0.8125rem; /* - 13px */
  --fs-300: 0.875rem; /* -- 14px */
  --fs-350: 0.9375rem; /* - 15px */
  --fs-400: 1rem; /* ------ 16px */
  --fs-450: 1.125rem; /* -- 18px */
  --fs-500: 1.5rem; /* ---- 24px */
  --fs-600: 1.875rem; /* -- 30px */
  /* Font weights */
  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 900;
  /* 

  SIZE VARIABLES 
  */
  --size-100: 0.625rem; /* -- 10px */
  --size-200: 0.75rem; /* --- 12px */
  --size-300: 0.875rem; /* -- 14px */
  --size-400: 1rem; /* ------ 16px */
  --size-450: 1.125rem; /* -- 18px */
  --size-500: 1.25rem; /* --- 20px */
  --size-550: 1.5rem; /* ---- 24px */
  --size-600: 1.75rem; /* --- 28px */
  --size-650: 2rem; /* ------ 32px */
  --size-700: 2.25rem; /* --- 36px */
  --size-750: 2.5rem; /* ---- 40px */
  --size-800: 2.75rem; /* --- 44px */
  --size-850: 3rem; /* ------ 48px */
  --size-900: 3.25rem; /* --- 52px */
  --size-950: 3.375rem; /* -- 54px */
}

/*



###############
UTILITY CLASSES
###############
*/
.primary-heading, .secondary-heading {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-700);
}

.primary-heading {
  font-size: var(--fs-500);
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .primary-heading {
    /* The media query includes a min-height condition since the card height in the desktop layout is too much for some screens (like mine, which is 1366x768 px). So with this, the sizes of the mobile version will also be applied for screens with a height less than 50em (800px). */
    font-size: var(--fs-600);
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

/*



##############
GENERAL STYLES
##############
*/
* {
  outline-color: var(--clr-neutral-700);
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
}

main {
  min-height: 100vh;
  min-height: 100svh;
}

/*



#############
LAYOUT STYLES
#############
*/
main {
  justify-content: center;
  background-color: var(--clr-primary-100);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
}
@media screen and (min-width: 23.4em) {
  main {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

.card {
  background-color: var(--clr-neutral-100);
  max-width: 22.5rem;
  min-height: 35.5rem;
  border-radius: var(--size-550);
  overflow: hidden;
  margin: var(--size-550);
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .card {
    max-width: 28.125rem;
    min-height: 43.75rem;
  }
}
.card__img-container {
  height: 10rem;
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .card__img-container {
    height: 13.75rem;
  }
}
.card__img-container img {
  width: 100%;
  height: 100%;
}
.card__content {
  min-height: 25.5rem;
  padding: var(--size-200) var(--size-550) var(--size-100);
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .card__content {
    min-height: 30rem;
    padding: var(--size-600) var(--size-850) var(--size-100);
  }
}

.content {
  text-align: center;
}
.content__section {
  margin-block: var(--size-550);
  padding-inline: var(--size-400);
  border-radius: var(--size-200);
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .content__section {
    padding-inline: var(--size-550);
  }
}
.content__section h1 {
  margin-bottom: var(--size-550);
  padding: 0;
}

.plan-details {
  background-color: var(--clr-neutral-200);
  padding-block: var(--size-400);
  justify-content: space-between;
  font-size: var(--fs-300);
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .plan-details {
    margin-bottom: var(--size-650);
    padding-block: var(--size-550);
    font-size: var(--size-400);
  }
}
.plan-details__icon {
  width: var(--size-850);
  margin-right: var(--size-500);
}
.plan-details__info h2 {
  margin-bottom: 0.3rem;
}
.plan-details__link {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}
.plan-details__link:hover, .plan-details__link:focus-visible {
  color: var(--clr-secondary-400);
  text-decoration: none;
}

.button, .button--2 {
  display: block;
  width: 100%;
  height: var(--size-850);
  margin-block: var(--size-100);
  border-radius: var(--size-100);
  font-size: var(--fs-350);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}
@media screen and (min-width: 40em) and (min-height: 50em) {
  .button, .button--2 {
    margin-block: var(--size-400);
  }
}

.button {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  box-shadow: 0 var(--size-200) var(--size-500) 0.5rem var(--clr-neutral-300);
}
.button:hover, .button:focus-visible {
  background-color: var(--clr-secondary-400);
}

.button--2 {
  background: transparent;
  font-weight: var(--fw-bold);
}
.button--2:hover, .button--2:focus-visible {
  color: var(--clr-neutral-700);
}

/*# sourceMappingURL=styles.css.map */
