$colors: (
    primary: (
        100: hsl(225, 100%, 94%),
        200: "",
        300: "",
        400: hsl(245, 75%, 52%),
        500: "",
        600: "",
        700: "",
        800: "",
        900: ""
    ),
    secondary: (
        100: "",
        200: "",
        300: "",
        400: hsl(245, 83%, 68%),
        500: "",
        600: "",
        700: "",
        800: "",
        900: ""
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(225, 100%, 98%),
        300: hsl(245, 95%, 92%),
        400: hsl(224, 23%, 55%),
        500: "",
        600: "",
        700: hsl(223, 47%, 23%),
        800: "",
        900: ""
    )
);