$font-families: (
    base:       "Red Hat Display",
    secondary:  "",
    accent:     ""
);

$font-sizes: (
    100: 0,
    200: 13,
    300: 14,
    350: 15,
    400: 16,
    450: 18,
    500: 24,
    600: 30,
    700: 0,
    800: 0,
    900: 0
);

$font-weight: (
    thin:       0,
    light:      0,
    regular:    500,
    semi-bold:  700,
    bold:       900
);
